<ion-view title="Login" id="page5">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" placeholder="" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="" ng-model="user.password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <div ng-controller="loginCtrl">
                <div ng-click="login(user)" id="login-button1" class="button button-stable  button-block">
                    Log in
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>