<ion-view title="UserManagementTab" id="page4">
    <ion-nav-buttons side="right">
    	<a style="color: black;" class="button button-icon icon ion-plus" ng-show="GatewayFactory.isAdmin()" ng-click="newUser()"></a> 
	</ion-nav-buttons>
    <ion-content padding="true" class="has-header">
    	<ion-refresher
		    pulling-text="Pull to refresh..."
		    on-refresh="doRefresh()">
		</ion-refresher>
        <ion-list show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
          	<div ng-repeat="user in users">
	        	<ion-item class="item item-stable">
	        		<div style="float:left">
	        		<h2>Name: {{user.user_name}}</h2>
	        		<h2>ID: {{user.user_id}}</h2>
			    	</div>
			    </ion-item>
			</div>
        </ion-list>
    </ion-content>
</ion-view>